@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Super Mario 256";
    font-weight: 700;
    src: url("../fonts/mario.ttf")
            format("ttf");
}

@font-face {
    font-family: "brr";
    font-weight: 700;
    src: url("../fonts/BRR.ttf")
            format("ttf");
}