<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link th:href="@{/css/dist/output.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/password.js}"></script>
  </head>
  <body>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <!-- 헤더이미지 -->
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-auto w-auto" src="/images/user.png" alt="userLogo" />
      </div>

      <!-- 사용자 정보 입력 -->
      <div class="mt-6 rounded-lg bg-cmt-user-div-bg px-3.5 py-3.5 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" id="inputEmail" action="#" method="POST">
          <!-- 이메일 입력 -->
          <div>
            <label for="email" class="block font-brr text-sm leading-6 text-gray-900">가입한 이메일 주소를 입력해주세요</label>
            <div class="mt-2">
              <input
                      name="email"
                      id="email"
                      type="email"
                      autocomplete="email"
                      required
                      class="block w-full rounded-sm border border-main-skyblue py-2 text-gray-900 focus:border-main-skyblue focus:outline-none focus:ring-2 focus:ring-main-skyblue sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <button
              id="btnResetPassword"
              type="submit"
              class="text-md flex w-full justify-center rounded-lg bg-main-blue px-3 py-2 font-brr leading-6 text-white shadow-sm hover:bg-user-home-btn focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              이메일로 비밀번호 재설정 링크 받기
            </button>
          </div>
        </form>
      </div>

      <div id="successNotify" class="mt-6 flex hidden flex-col place-items-center rounded-lg bg-whitegray sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="my-2 h-16 w-16" src="/images/user-msg.png" alt="correctEmail" />
        <span class="font-brr">이메일 확인</span>
        <span class="my-2 font-brr text-sm">이메일로 전송된 메일을 확인해 주세요</span>
        <div class="my-4 text-xs text-gray-400">
          <span>ⓘ 이메일을 받지 못하셨나요?</span>
          <a href="#" class="text-decoration-line: underline">이메일 재전송하기</a>
        </div>
        <div id="successMessage" class="my-4 text-xs text-gray-400">
          <a href="#" class="text-decoration-line: underline">[임시] 비밀번호 변경 링크</a>
        </div>
      </div>

      <div id="failureNotify" class="mt-6 flex hidden flex-col place-items-center rounded-lg bg-back sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="my-2 h-16 w-16" src="/images/user-err-msg.png" alt="errorEmail" />
        <span class="font-brr text-red-500">이메일 전송 실패</span>
        <span class="my-2 mb-4 font-brr text-sm">이메일 주소를 확인해 주세요</span>
        <div id="failureMessage" class="my-4 text-xs text-gray-400">
          <a href="#" class="text-decoration-line: underline">다시 시도하기</a>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('inputEmail').addEventListener("submit", checkIsEmail);
    </script>
  </body>
</html>
