<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link th:inline="css" th:href="@{/css/dist/output.css}" rel="stylesheet">
        <script th:inline="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    </head>
</th:block>
