<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dist/output.css">
    <title>Document</title>
</head>

<body>
    <div class="flex justify-between h-full max-w-screen-xl mx-auto sm:px-6 lg:px-8 gap-x-2">
        <!-- 좌측 nav -->
        <div class="top-0 mt-3 border-2 border-solid rounded-lg min:w-4/12 border-mypage-left-nav h-fit">
            <ul class="w-full p-5 space-y-2 font-medium font-brr">
                <li>
                    <a href="#"
                        class="flex items-center p-2 text-2xl text-gray-900 rounded-md dark:text-white group">
                        <span class="ml-3 text-mypg-left-nav">내 활동</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center p-2 text-lg text-gray-900 rounded-md active:bg-main-skyblue active:text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group ml-7">
                        <span class="flex-1 whitespace-nowrap">계정 관리</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center p-2 text-lg text-gray-900 rounded-md active:bg-main-skyblue active:text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group ml-7">
                        <span class="flex-1 whitespace-nowrap">내가 푼 노노들</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center p-2 text-lg text-gray-900 rounded-md active:bg-main-skyblue active:text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group ml-7">
                        <span class="flex-1 whitespace-nowrap">내가 풀고있는 노노들</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center p-2 text-lg text-gray-900 rounded-md active:bg-main-skyblue active:text-white dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group ml-7">
                        <span class="flex-1 whitespace-nowrap">작성한 글</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 우측 contents -->
        <div class="mt-2 min:w-8/12">
            <h1 class="pb-5 pl-5 text-3xl border-b-2 mb-7 font-brr text-nav-navy">내가 푼 노노들</h1>

            <!-- <article class="flex flex-wrap w-full sm:justify-start md:justify-start"> -->
            <article
                class="grid grid-cols-1 gap-x-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-1 xl:gap-y-1">
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Donkey%20Kong.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Sonic%20the%20Hedgehog.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Looney%20Tunes.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20South%20Park.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20The%20Legend%20of%20Zelda.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20SpongeBob%20SquarePants.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/90s%20Character%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Tom%20and%20Jerry.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/Pokemon%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Cubone.png" alt=""
                                 class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/Super%20Mario%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Luigi.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>
                <div class="w-full h-full">
                    <a href="#"
                        class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex items-center h-full">
                            <img src="/images/Super%20Mario%20Pixel%20Patterns%20for%20Fuse%20Beads%20-%20Bowser.png"
                                alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                        </div>
                    </a>
                </div>

            </article>
        </div>


    </div>
</body>

</html>