<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{./defaultLayout.html}">
<body>
<th:block layout:fragment="content" th:with="userId=${session.userId}"> <!-- session 타임리프 변수에 저장 -->
    <div class="flex justify-center w-screen h-full max-w-screen-xl mx-auto sm:px-6 lg:px-8 gap-x-2 bg-back">
        <!-- 좌측 nav -->
        <th:block th:replace="~{./my-activity-nav.html :: myactivitynavFragment}"></th:block>
        <!-- 우측 contents -->
        <div class="w-8/12 mt-2 max:w-8/12 font-brr min-w-max">
            <h1 class="pb-5 pl-5 text-3xl border-b-2 mb-7 font-brr text-nav-navy">내가 푼 노노들</h1>
            <article
                class="grid grid-cols-1 gap-y-3 gap-x-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-1 xl:gap-y-1">
                <th:block th:if="${isSolved == 0}" th:each="nono : ${nonoList}">
                    <div class="w-full h-full">
                        <a th:href="@{|/ingnono/detail/${userId}/${nono.getNonoId()}|}"
                            class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <div class="flex items-center h-full">
<!--                                <span th:text=""></span>-->
                                <img th:src="@{${nono.getNonoImgUrl()}}"
                                    alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                            </div>
                        </a>
                    </div>
                </th:block>
                <th:block th:unless="${isSolved == 1}" th:each="nono : ${nonoList}">
                    <div class="w-full h-full">
                        <a th:href="@{|/solvednono/detail/${userId}/${nono.getNonoId()}|}"
                           class="block h-full max-w-md p-6 mx-auto bg-white border-4 rounded-lg shadow w-12/12 border-nono-mypg-item-border dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <div class="flex items-center h-full">
                                <!--                                <span th:text=""></span>-->
                                <img th:src="@{${nono.getNonoImgUrl()}}"
                                     alt="" class="object-contain w-full h-full transition duration-200 hover:scale-105">
                            </div>
                        </a>
                    </div>
                </th:block>

            </article>
        </div>
    </div>
</th:block>
</body>

</html>