<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{./defaultLayout.html}">
<body>
<th:block layout:fragment="content" th:with="userId=${session.userId}"> <!-- session 타임리프 변수에 저장 -->
    <div class="flex justify-center w-screen h-full max-w-screen-xl mx-auto sm:px-6 lg:px-8 gap-x-2 bg-back">
        <th:block th:if="${userNono ne null}">
            <span th:text="${userNono.getUserNonoId()}"></span>
        </th:block>
    </div>
</th:block>
</body>
</html>